body{
    margin: 0px;
    padding: 0px;
}
#container{
    text-align: center;
    margin: auto;
    width: 100%;
}

#logo{
    position: absolute;
    left: 472px;
    top: 15px;
}
#span1{
    position: absolute;
    top: 230px;
    font-size: 15px;
    left: 479px;
}
#inp1{
    width: 26%;
    position: absolute;
    top: 223px;
    left: 472px;
    padding: 10px;
    opacity: 0.5;
    height: 26px;
    border: none;
    background-color: #f0f2f5;
    border: solid 1px black;
    padding-top: 18px;
}
#span2{
    position: absolute;
    top: 289px;
    font-size: 15px;
    left: 479px;
}
#inp2{
    width: 26%;
    position: absolute;
    top: 285px;
    left: 472px;
    padding: 10px;
    opacity: 0.5;
    height: 26px;
    border: none;
    background-color: #f0f2f5;
    border: solid 1px black;
    padding-top: 18px;
}
#btn1{
    width: 26%;
    position: absolute;
    top: 360px;
    left: 472px;
    border: none;
    background-color: #1da1f2;
    PADDING: 14px;
    color: white;
    font-weight: 600;
    border-radius: 33px;
    cursor: pointer;
}
#link{
    position: absolute;
    top: 410px;
    left: 530px;
}
#link a{
    color: #1DA1F2;
    text-decoration: none;
}
#link a:hover{
    text-decoration: underline;
}
#para{
    position: absolute;
    left: 472px;
    top: 80px;
    font-size: 40px;
    font-weight: 700;
}
.twitter{
    position: absolute;
    left: 472px;
    top: 170px;
    font-size: 40px;
    font-weight: 700;
}